<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>myBlackBoard</title>
</head>
<script src="/js/lib/jquery.min.js"></script> 
<body>
<input type="hidden" value="{{creator}}" id="creator">
<input type="hidden" value="{{pages}}" id="pages">
<input type="hidden" value="{{terrace_name}}" id="terrace_name">
<input type="hidden" value="{{terrace_room_number}}" id="terrace_room_number">
<input type="button" value="전체 저장" id="save-progress">
<table>
	<tr>
		<td width="700" height="900">
			<div style="position: relative; top: -400px; left: 20px">
				 <canvas height="842" width="595" id="imageOnly"
				   style="position:absolute; left: 0; top: 0; z-index: 0;"></canvas>
				 <canvas height="842" width="595" id="mycanvas" 
				   style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
			</div>	
		</td>
		<td class="icon-bar" width="80" height="800">
			<a id="canvasDownload"><img src="image/file1.png" width="24" height="24"></a><br><br>
			<a href="javascript:canvasUndo()"><i class="fa fa-undo" style="font-size:24px"></i></a><br><br>
			<a href="javascript:canvasPen()"><img src="image/canvasPen.png" width="24" height="24"></a><br><br>
			<select id="lineWidth" onchange="changeLineWidth()">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5" selected="selected">5</option>
						</select><br><br>
			<input type="color" onchange="javascript:colorPicker()" id="lineColor" value ="#ff0000" style="width:24px; height:24px;"><br><br>
			
			<a href="javascript:canvasER()"><img src="image/eraser1.png" style="width:24px; height:24px;"></a><br><br>
			<a href="javascript:canvasCircle()"><i class="fa fa-circle-o"></i><br><br>
			<a href="javascript:canvasRect()"><i class="fa fa-square-o" style="font-size:24px"></i></a><br><br>
			<a href="javascript:canvasLine()"><i class="fa fa-window-minimize" style="font-size:24px"></i></a><br><br>			
			<a href="javascript:backwardPage('{{creator}}')"><i class="fa fa-caret-square-o-up" style="font-size:24px"></i></a><br>
			 <a><input type="text" id="indexOfpage" value="1" readonly="readonly" style="width:20px; text-align: center; height: 20px; border-color: green"></a>
			<br><a href="javascript:forwardPage('{{creator}}')"><i class="fa fa-caret-square-o-down" style="font-size:24px"></i></a><br>
		</td>
	</tr>
</table>
<img src=""  hidden="hidden" id="image1"  crossOrigin = "anonymous">
<div id="hiddenImg"></div>

<script src="/js/app/myBlackBoard.js"></script>
</body>
</html>