<!DOCTYPE html>
<html>
<head>
	<style>
 		.mybtn {
 			width:70%;
 			height: 70%;
			margin: 0 auto;
			margin-top: 230px;
			padding-left: 600px;
			padding-top: 50px;
			text-align: center;
 		}
 		
 		.btns {
 			background-color:#A4A4A4;  
 			width:10%;
 		}
 		.btns:hover {
 			cursor:pointer;
 		}
 		
 		.resForm {
 			text-align: center;
 			background-color:#D8D8D8;
 		}
 		.inputArea {
 			border-radius:10px;
 			border:none;
	 		 background-color:#A4A4A4;
	 		 height:35px;
	 		 font-size: large;
 		}
 		
 		.formBtn {
 			border-radius:10px;
 			background-color:#CEE3F6;
 			width:100px;
 			padding:10px;
 			margin:20px;
 		}
 		.formBtn:hover {
 			cursor: pointer;
 		}
 		
 
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 300px;
            top: 100px;;
            width: 50%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color:#F3E2A9;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color:#D8D8D8;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 50px;
            border: white;
            width: 30%; /* Could be more or less, depending on screen size */   
             
            animation-name: loginModalAni;
			animation-duration: 0.5s;
			
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
		
		@keyframes loginModalAni {
			from {top: -300px; opacity: 0}
			to {top: 0; opacity: 1}
		}
	</style>
<script>
	window.onload = function(){
		
		//Get the modal
		var modal = document.getElementById('myModal');
		var loginModal = document.getElementById('loginModal');
		// Get the button that opens the modal
		var btn = document.getElementById("res");
		var loginBtn = document.getElementById("login");
		var mybtn = document.getElementById('mybtn');
		var resCancle = document.getElementById('resCancle');
		var loginCancle = document.getElementById('loginCancle');
		
		res.onclick = function(){		
			modal.style.display = 'block';
		};
		
		loginBtn.onclick = function(){
			loginModal.style.display = 'block';
		};
		
	    window.onclick = function(event) {
	        if (event.target == modal) {
	            modal.style.display = "none";
	        }
	        if (event.target == loginModal){
	        	loginModal.style.display = "none";
	        }
	    };
	    
	    resCancle.onclick = function(event){
	    	modal.style.display = 'none';
	    };
	    
	    loginCancle.onclick = function(event){
	    	loginModal.style.display = "none";
	    }
	};

</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Terrace House</title>
<script src="/js/app/registerJS.js"></script>
<script src="/js/lib/jquery.min.js"></script> 
</head>
<body style="background-color:#F3E2A9;">

  <!-- Trigger/Open The Modal -->
    <div class="mybtn">
    	<p id="login" class="btns">로그인</p>
    	<p id="res" class="btns">회원가입</p>
    </div>
 
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">                
        <div id="resForm">            
        	<form id ="resForm" action="registerMember" method="post">                                   
		        <p><input type="text" id="memberid" placeholder=" ID" class="inputArea" name="memberid"></p>
		        <p><input type="password" id="memberpw" placeholder=" Password" class="inputArea" name="memberpw"></p>
		        <p><input type="text" id="member_email" placeholder=" Email" class="inputArea" name="member_email"></p>
		        <p><input type="email" id="member_name" placeholder=" Name" class="inputArea" name="member_name"></p>
		       	<a class="formBtn" href="javascript:registerMember()">회원가입</a> <a class="formBtn" id="resCancle">취소</a>
	       	</form>
        </div>
      </div>
    </div>
    
    <div id="loginModal" class="modal">
    	<div class="modal-content">                
	        <div class =  "loginForm">     
	        	<form id="loginForm" action="" method="get">                                          
		        <p><input type="text" id="loginId" placeholder=" ID" class="inputArea" name="loginId"></p>
		        <p><input type="password" id="loginPassword" placeholder=" Password" class="inputArea" name="loginPassword"></p>
		        
		       	<a class="formBtn">로그인</a> <a class="formBtn" id="loginCancle">취소</a>
		       	</form>
	        </div>
      </div>
    </div>
    
	<div>
		<table>
			<tr>
				<th>회원번호</th>
				<th>회원아이디</th>
				<th>회원비번</th>
				<th>회원이메일</th>
				<th>회원이름</th>
			</tr>
			{{#each members}}
			<tr>
					<td>{{member_number}}</td>
					<td>{{memberid}}</td>
					<td>{{memberpw}}</td>
					<td>{{member_email}}</td>
					<td>{{member_name}}</td>
			</tr>
			{{/each}}
		</table>
	</div>


</body>
</html>