<!DOCTYPE html>
<html>
<head>
	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Terrace House</title>

<script src="/js/lib/jquery.min.js"></script> 
<script src="/js/app/registerJS.js"></script>
<script src="/js/app/loginJS.js"></script>

<link rel="stylesheet" href="/css/app/registerCSS.css">
<link rel="stylesheet" href="/css/app/loginCSS.css">
<link rel="stylesheet" href="/css/app/homeCSS.css">
</head>
<body>

	<table class="userNaviTable" id="userNaviTable">
  		<tr>
			<td><button id="myResBtn">회원가입</button></td>
			<td><button id="myLoginBtn">로그인</button></td>
		</tr>
	</table>
 
    <!-- The Register Modal -->
	<div id="myRegisterModal" class="modal">
	  	<!-- Modal content -->
		<div class="modal-content" id="registerModalContent">
			  <div class="modal-header" id="registerModalHeader">
			    <span class="closeModal" id="registerCloser">&times;</span>
			    <h2>[ R e g i s t e r ]</h2>
			  </div>
			  <div class="modal-body" id="myRegisterModalBody"></div>
			  <div class="modal-footer" id="registerModalFooter"><h1> </h1></div>
		</div>
	</div>
    
    <!-- Login Modal -->
	<div id="myLoginModal" class="modal">
		<div class="modal-content" ID="loginModalContent">
			<div class="modal-header" id="loginModalHeader">
				<span class="closeModal" id="loginCloser">&times;</span>
			    <h2>[ Log - IN ]</h2>
			</div>
			<div class="modal-body" id="myLoginModalBody"></div>
			<div class="modal-footer" id="loginModalFooter"><h1> </h1></div>
		</div>
	</div>
	<div>
		<form action="pdfUpload" method="post">
			<input type="file" name="file" id="file" enctype="multipart/form-data">
			<input type="submit">
		</form>
	</div>
	<div>
		<table>
			<tr>
				<th>회원번호</th>
				<th>회원아이디</th>
				<th>회원비번</th>
				<th>회원이메일</th>
				<th>회원이름</th>
			</tr>
			{{#each members}}
			<tr>
					<td>{{member_number}}</td>
					<td>{{memberid}}</td>
					<td>{{memberpw}}</td>
					<td>{{member_email}}</td>
					<td>{{member_name}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
</body>
</html>