<!DOCTYPE HTML> 
<html>
<head> 
<script type="text/javascript">


</script>
</head> 
<body>

<br>

{{#each pList}}
	<p>{{terrace_room_number.terrace_room_name}}({{terrace_room_number.create_date}})</p>
	<p><A href="https://s3.console.aws.amazon.com/s3/buckets/{{terrace_room_number.saved_file_path}}/{{saved_personal_file_name}}">{{saved_personal_file_name}}</A></p>
{{/each}}
{{nullList}}
</body> 
</html>